<section class="full-section">
	<div id="lock-status" hx-get="/renew_lock/{{ note.pid }}" hx-trigger="every 10s" hx-swap="innerHTML" hx-vals='{"lock_id": "it"}'>
	Locked.. only you can edit this note.
</div>
<form 
	hx-post="/note_edit/{{ note.pid }}/"
	hx-swap="outerHTML"
	hx-encoding="multipart/form-data"
	id="note-form"
    class="edit-form"
>
<textarea
	style="
            resize: none; /* Optional: Disable resizing */
            font-size: 16px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;"
	autofocus
	id="body"
	name="body"
	required
    class="edit-textarea">{{ note.body }}</textarea>

<input style="display: inline;" type="submit" value="Save"/>
<a href="/notes/{{ note.pid }}">Cancel</a>
</form>
<script>
    // Add an event listener to the textarea
    document.getElementById('body').addEventListener('keydown', function(event) {
        // Check if CTRL + Enter is pressed
        if (event.ctrlKey && event.key === 'Enter') {
            // Prevent the default behavior of the Enter key
            event.preventDefault();
            // Submit the form using HTMX
            htmx.trigger('#note-form', 'submit');
        }
    });
</script>
</section>
